# Data Science Tools and Ecosystem

This notebook will briefly describe some of the basic tools of data science.

**Objectives:**
- List some common languages used
- List some common libraries used
- List some common tools

Some of the popular languages used in data science are:
1. Python (my favorite)
2. R
3. SQL

Some commonly used python libraries in data science are:
1. Pandas (useful for dealing with tabular data)
2. Scikit-learn (useful for machine learning models)
3. Seaborn (useful for data visualization)

Here are a few useful tools:

| Data Science Tools |
|-------|
|Jupyter Lab|
|RStudio|
|Github|

### And now, the next few cells will show some examples of how Python can be used to evaluate arithmetic expressions

In [1]:
# For example, you can multiply and add integers easily like this:
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60:
t_min = 200
t_hr = t_min/60
t_hr

3.3333333333333335

## Author
Marissa Walker